name: Build And Push Software Repository

on:
  push:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

concurrency:
  group: archlinuxus
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          path: archlinuxus-scripts
      - name: install needed software
        run: sudo apt install rsync
      - name: prepare archlinux environment
        run: sudo ./archlinuxus-scripts/prepare-archlinux.sh
      - name: Fetch cache from cloud
        id: cache-restore
        uses: actions/cache@v4
        with:
          path: cache_backups
          key: ${{ runner.os }}-root-cache
          restore-keys: |
            ${{ runner.os }}-root-cache-
      - name: Restore cache for build
        run: sudo ./archlinuxus-scripts/cache-management/restore-cache.sh
      - name: build repo
        run: sudo ./archlinuxus-scripts/build-repo.sh
      - name: Prepare to save cache for next build
        run: sudo ./archlinuxus-scripts/cache-management/prepare-cache.sh
      - name: Upload cache to cloud
        uses: actions/cache@v4
        with:
          path: cache_backups
          key: ${{ runner.os }}-root-cache
      - name: Upload to Cloudflare R2 Storage
        uses: ryand56/r2-upload-action@latest
        with:
          r2-account-id: ${{ secrets.R2_ACCOUNT_ID }}
          r2-access-key-id: ${{ secrets.R2_ACCESS_KEY_ID }}
          r2-secret-access-key: ${{ secrets.R2_SECRET_ACCESS_KEY }}
          r2-bucket: ${{ secrets.R2_BUCKET }}
          source-dir: root.x86_64/home/archlinuxus/repo
          destination-dir: ./